@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}
body
{
    font-size: 16px;
    font-family: Poppins;
}
.bg-dark1
{
    background-color: rgb(13, 0, 30);
}
.bg-aqua1
{
    background-color: rgb(212, 255, 255);
}
.bg-aqua2
{
    background-color: aqua;
}

.task-input
{
    height: 2.5rem;
    width: 20rem;
    border-radius: .25rem;
}

.section-todo
{
    height: 400px;
}

li > *
{
    display: block;
    font-size: 1.25rem;
}

li
{
    list-style-type: none;
    /* width: 50rem; */
}

/* .todo-list-ul, li
{
    border: 5px solid red;
} */

.btn-group button:nth-child(1):hover
{
    background-color: rgb(13, 0, 30);
}
.btn-group button:nth-child(2):hover
{
    background-color: aqua;
}